<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<h3>메모 목록</h3>
	
		<table>
			<tr th:each="list : ${list}">
				<td>번호: [[${list.mno}]]</td>
				<td>메모: [[${list.memo}]]</td>
				<td>연락처: [[${list.phone}]]</td>
				<td>공개여부: [[${list.secret}]]</td>
				<!-- if~else로 처리해주세요 -->
				<td th:if="${list.secret == 'n'}" >비밀글입니다</td>
				<td th:if="${list.secret == 'y'}">내용:[[${list.memo}]]</td>
				
			</tr>
			
			<!-- 반복문으로 처리해주세요 -->						
			
				
				
			
	</table>
	
	<a href="memoWrite">메모쓰기</a>
</body>
</html>