<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<h3>타임리프 변수와 표현방법</h3>
	
	<!-- "{'~~'}"   ~~의 값이 h3문장에 들어감
			' 문자열 '-->
	<h3 th:text="${'가나다?'}"></h3>
	<h3>[[${'위에랑 같은표현'}]]</h3>
	
	
	<h3 th:text="${1 == 1}"></h3>
	<h3>[[${1 eq 3}]]</h3>
	
	<h3>[[${1 eq 3 and true}]]</h3>
	
	<h3>[[${'hello' + 'world'}]]</h3>
	
	<h3>[[${4.14 + 3}]]</h3>
	
	<div th:with="a = 10">  <!-- 태그안에서의 변수선언 -->
		[[${a}]]
	</div>
	
	<h3>if~else</h3>
	
	<h3>if~else(조건을 동일하게 적었을때)</h3>
	<div th:with="a = 10">
		<span th:if="${a != 10}">if문이 실행됨</span>
		<span th:if="${a != 20}">else if문이 실행됨</span>
		<span th:unless="${a != 10}">else문 실행</span>
	</div>
	
	<h3>swihch ~ case</h3>
	<div th:with="a = 30" th:switch="${a}">
		<span th:case="10">10입니다</span>
		<span th:case="20">20입니다</span>
		<span th:case="30">30입니다</span>
	</div>
	
	<h3>3항 연산식</h3>
	<div th:with="a=10">
		[[${a >=10 ? '10이상' : '10미만'}]]
	</div>

</body>
</html>